$font-stack: 'Helvetica';
$default-elements-border: 1px solid rgba(0,0,0,.0975);
$app-content-max-width: 960px;
$indigo: #3f51b5;

%btns{
  margin-right: 10px;
  width: 40%;
  cursor: pointer;
  transition: .3s ease-out;
  text-decoration: none;
  color: #fff;
  background-color: #3f51b5;
  text-align: center;
  letter-spacing: .5px;
  font-size: 14px;
  outline: 0;
  border: none;
  border-radius: 10px;
  height: 36px;
  //line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  &:hover {
    background-color: #5c6bc0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  }
}
